.nav{
    padding-top: 1% !important;
    padding-left: 4% !important;
    padding-bottom: 1% !important;
    color: #7969E8;
    /* text-decoration: underline !important; */
    border-bottom: 1px solid rgba(24, 24, 24,.40) !important;
    -webkit-box-shadow: 0 4px 6px -6px #222;
    -moz-box-shadow: 0 4px 6px -6px #222;
    box-shadow: 0 4px 6px -6px #222;
}

.red{
    color: #A99DFF;
}

.logo{
    font-size: 2rem !important;
    font-weight: bolder;
}

.nav-others{
    top: 7px;
    position: relative;
    display: inline !important;
    font-size: 1.5rem !important;
    margin-left: 58% !important;
    word-spacing: 30px;
}

.keluar{
    position: relative;
    display: inline !important;
    box-sizing: border-box !important;
    font-size: 1.4rem !important;
    margin-left: 3% !important;
    background-color:#B54949;
    color: white;
    padding-top: 3px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    border-radius: 5px !important;
    
}
